@import url('https://fonts.googleapis.com/css2?family=Coda&Source+Sans+Pro&display=swap');

body {
  max-width: 650px;
  margin: 0 auto 0 auto;
  font-size: 18px;
  padding: 20px;
  color: #20252d;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coda', "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#content {
  img {
    width: 100%;
  }
}

a,
a:hover,
a:visited,
a:active {
  color: rgb(36, 170, 201);
}

h1 {
  line-height: 1.2em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;

  height: 0;
  border-top: 1px solid #aaaabb;
  border-bottom: 0;
  width: 80%;
}

footer {
  margin-top: 30px;
  color: #aaaabb;
  font-size: 12px;
}

video {
  width: 100%;
}

// Post list

.preview-list-item {
  &:after {
    display: block;
    content: "";
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(106, 180, 236);
    margin-bottom: 40px;
  }

  .post-title {
    h3 {
      margin: 0;
    }

    .post-date {
      margin-bottom: 20px;
      color: #777;
    }

    a {
      text-decoration: none;
      color: rgb(36, 170, 201);
    }
  }
}