<title>{{ .Title }}</title>
{{ $style := resources.Get "site.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<meta name="viewport" content="initial-scale=1, viewport-fit=cover">

<meta property="og:title" content="{{ .Title }} - Main Gauche Games" />
<meta property="og:description" content="{{ .Description }}" />
{{ if isset .Params "metavideo" }}
<meta property="og:video" content="{{ .Params.metavideo }}" />
{{ else if isset .Params "metaimage" }}
<meta property="og:image" content="{{ .Params.metaimage }}" />
{{ end }}
<meta name="twitter:card" content="summary_large_image" />