{{ define "main" }}
<main>

  <header>
    <h1>Main Gauche Games devlog</h1>
  </header>

  <div>
    {{ range .Pages }}
    <article class='preview-list-item'>
      <div class='post-title'>
        <h3>
          <a href="{{.RelPermalink}}">{{.Title}}</a>
        </h3>
        <div class="post-date">
          {{.Date.Format "January 2, 2006"}}
          {{ if isset .Params "author" }}
          ⸱ by {{ index .Params "author" | .RenderString }}
          {{ end }}
        </div>
      </div>
      <div>
        {{ if .Params.image }}
        <div><img src="{{.Params.image}}"></div>
        {{ end }}

        <div>{{.Summary}}</div>
        <a class="button" href="{{.RelPermalink}}">Keep Reading →</a>
      </div>
    </article>
    {{ end }}
  </div>

</main>
{{ end }}