{{ define "main" }}
<main id="main" class="devlog-single">
  <header>
    <h1 id="title">{{ .Title }}</h1>
    <div id="date">
      {{ .Date.Format "January 2, 2006" }}
      {{ if isset .Params "author" }}
      ⸱ by {{ index .Params "author" | .RenderString }}
      {{ end }}
    </div>
  </header>

  <article id="content">
    {{ .Content }}
  </article>
</main>

<aside id="tags">
  <h4>Tags</h4>
  {{ with .Params.tags }}
  <ul>
    {{ range . }}
    <li><a href='{{ "tags/" | absURL }}{{ . | urlize }}'>#{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</aside>


<aside>
  {{ with .PrevInSection }}
  Previous: <a class="previous" href="{{.RelPermalink}}">{{.Title}}</a>
  {{ end }}

  {{ if (and .PrevInSection .NextInSection) }}
  |
  {{ end }}

  {{ with .NextInSection }}
  Next: <a class="next" href="{{.RelPermalink}}">{{.Title}}</a>
  {{ end }}
</aside>
{{ end }}